<div class="container">

  <h1>CDB Calculator</h1>

  <div class="form-group">

    <label>Initial Amount</label>

    <input
      type="number"
      [(ngModel)]="initialAmount">
  </div>

  <div class="form-group">

    <label>Months</label>

    <input
      type="number"
      [(ngModel)]="months">
  </div>

  <button  type="button" (click)="calculate()">
    Calculate
  </button>

  <div *ngIf="grossAmount != null && netAmount != null">

    <h3>Result</h3>

    <p>
      Gross Amount:
      {{ grossAmount | currency:'BRL' }}
    </p>

    <p>
      Net Amount:
      {{ netAmount | currency:'BRL' }}
    </p>
  </div>

  <div *ngIf="errorMessage != null"  class="error-message">

    {{ errorMessage }}

  </div>

</div>